<!DOCTYPE html>
<html>

<head>
    <title>Item List</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <h1>Items</h1>
        <form action="/items" method="POST">
            <input type="text" name="name" placeholder="Enter item" required>
            <button type="submit">Add</button>
        </form>
        <ul>
            <% items.forEach(item=> { %>
                <li>
                    <span>
                        <%= item.name %>
                    </span>
                    <div class="action-buttons">
                        <a href="/items/edit/<%= item._id %>">Edit</a>
                        <form action="/items/<%= item._id %>?_method=DELETE" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </li>
            <% }) %>
        </ul>
    </div>
</body>